services:
  pgsql:
    container_name: pgsql
    image: postgres:18-trixie
    env_file:
    - .env
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/
    restart: no
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $$POSTGRES_USER"]
      interval: 10s
      timeout: 5s
      retries: 5

  go:
    container_name: go
    build:
      context: ./backend
      dockerfile: Dockerfile
    env_file:
    - .env
    ports:
      - "8080:8080"
    depends_on:
      pgsql:
        condition: service_healthy
    restart: no
    environment:
      POSTGRES_HOST: pgsql

  nginx:
    container_name: nginx
    build:
      context: ./frontend
      dockerfile: Dockerfile
    ports:
      - "80:80"
    depends_on:
      - go
    restart: unless-stopped

#  redis:
#    container_name: redis
#    image: redis:latest
#    ports:
#      - "6379:6379"
#    volumes:
#      - redisdata:/data
#    restart: no

volumes:
  pgdata:
    external: true
