services:
  pgsql:
    container_name: pgsql
    image: postgres:18-trixie
    env_file:
    - .env
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/
    restart: no
#  redis:
#    container_name: redis
#    image: redis:latest
#    ports:
#      - "6379:6379"
#    volumes:
#      - redisdata:/data
#    restart: no

volumes:
  pgdata:
    external: true
